main{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    &>button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }
    .buttons{
        display: flex;
        column-gap: 40px;
        .addEmployee{
            font-size: 16px;
            width: 225px;
            height: 39px;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid #8338EC;
            cursor: pointer;
        }
        #new_task{
            width: 268px;
            height: 39px;
            background-color: #8338EC;
            display: flex;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            height: 40px;
            justify-content: center;
            color: #FFFFFF;
            cursor: pointer;
            align-items: center;
            i{
                font-size: 18px;
                margin-right: 10px;
              
            }
        }
    }
}